/* imports */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght,ELSH@100..900,2&family=Rubik+80s+Fade&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght,ELSH@100..900,2&family=Rubik+80s+Fade&family=Rubik+Distressed&family=Rubik+Glitch&display=swap');

:root {

    /* fonts */
        --heading-font-1: "Rubik Glitch", "Times New Roman", sans-serif;
        --heading-font-2: "Rubik 80s Fade", "Times New Roman", sans-serif;
        --paragraph-font-3: "Times New Roman", sans-serif;
    /* colors */
        --dark-blue: #14133F;
        --mid-blue: #619FE5;
        --light-blue: #ABC5EB;
        --light-purple: #A78CFD;
        --mid-purple: #835DFD;
        --dark-purple: #371f6d;
        --white: #FFFFFF;
}

body {
    background-color: var(--dark-blue);
    max-width: 100%;
    overflow-x: hidden; /* This prevents the "all the way over to the right" scroll */
    margin: 0;
    padding: 0;
}


/* header */
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: var(--dark-blue);
    border-bottom: 3px solid var(--light-purple);
}
#logo_link {
    justify-self: center;
    align-self: center;
    margin-left: 20px;
}
#logo {
    width: 80px;
}
nav {
    display: flex;
}
nav a {
    color: white;
    flex: 1;
    align-content: center;
    text-align: center;
    transition: background-color 0.5s;
    text-decoration: none;
    font-weight: lighter;
    font-size: 25px;
    font-family: var(--heading-font-1);
    letter-spacing: 2px
  /* 1. Colors */
    text-shadow: 0.1em 0 0 rgba(255, 0, 81, 0.75),
                -0.05em -0.05em 0 rgba(0, 255, 255, 0.75),
                0.05em 0.05em 0 rgba(255, 255, 0, 0.75);
}
nav a:hover {
    background-color: var(--dark-purple);
}


/* body */
#box {
width: 100%;
height: 2600px;
display: grid;
grid-template-columns: 50px repeat(6, 1fr) 50px;
grid-template-rows: 40px 50px, repeat(6, 1fr);
grid-column-gap: 140px;
grid-row-gap: 50px;
}
#title {
    color: white;
    grid-area: 1 / 2 / 2 / 5; 
    font-size: xxx-large;
    padding-top: 50px;
    font-family: var(--paragraph-font-3);
    align-self: center;
}
#description {
    color: white;
    grid-area: 2 / 2 / 3 / 5;
    font-size: 23px;
    font-family: var(--paragraph-font-3);
    margin-bottom: 50px;
}
.ice-pictures {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-self: center;
    align-items: center;
    border: 5px solid var(--white);
    outline: 10px solid var(--light-purple);
    border-radius: 15px;
    transition: transform 0.3s ease;
}
.ice-pictures:hover {
    transform: scale(1.1);
    outline: 10px solid var(--mid-blue);
}
a,p {
    align-content: center;
    justify-content: center;
    text-align: center;
}
p {
    font-size: larger;
    padding-left: 15px;
    padding-right: 15px;
    font-family: var(--paragraph-font-3);
}

/* grids */
#prophet-card-link {
    grid-area: 3 / 2 / 4 / 4;
}
#prophet-description {
    grid-area: 4 / 2 / 5 / 4;
    color: white;
}
#apostle-spotlight-link {
    grid-area: 3 / 4 / 4 / 6;
}
#apostle-description {
    grid-area: 4 / 4 / 5 / 6;
    color: white;
}
#favorite-devo-link {
    grid-area: 3 / 6 / 4 / 8;
}
#devo-description {
    grid-area: 4 / 6 / 5 / 8;
    color: white;
}
#holiday-page-link {
    grid-area: 5 / 2 / 6 / 4;
}
#holiday-description {
    grid-area: 6 / 2 / 7 / 4;
    color: white;
}
#country-flags-link {
    grid-area: 5 / 4 / 6 / 6;
}
#flags-description {
    grid-area: 6 / 4 / 7 / 6;
    color: white;
}
#css-positioning-link {
    grid-area: 5 / 6 / 6 / 8;
}
#positioning-description {
    grid-area: 6 / 6 / 7 / 8;;
    color: white;
}
#image-gallery-link {
    grid-area: 7 / 3 / 8 / 5;
}
#positioning-pic {
    object-position: 43% center;
    height: 475px;
}
#gallery-description {
    grid-area: 8 / 3 / 9 / 5;
    color: white;
}
#signup-form-link {
    grid-area: 7 / 5 / 8 / 7
}
#signup-pic {
    object-position: 43% center;
    height: 475px;
}
#signup-description {
    grid-area: 8 / 5 / 9 / 7;
    color: white;
}


/* footer */
footer {
    background-color:var(--dark-blue);
    color: var(--white);
    padding: 25px 50px;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 3px solid var(--light-purple);

}
footer a {
    color: var(--white);
    text-decoration: none;
}
footer a:hover {
    color: var(--orange);
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer.social img {
    padding-top: 15px;
}